header, footer, body{
    background-color:teal;
    text-align:center
}
footer,p,h1,h2,ul,h3,h4,h5{
    background-color:maroon;
    color:burlywood
}
h1,h2{
    font-weight:bold
}
h2{
    font-style:italic
}
#Groot{
    font-size:65px
}
.Subgroot{
    font-size:32px
}
nav a {
    font-weight: bold;
    color: lightsalmon;
}

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

nav li:hover {
    background-color: darkblue;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }
    header h1{
        text-shadow: 3px -4px 5px #333
    }